# Chicago Data Analysis Using SQL & Python

This project explores multiple real-world datasets from the City of Chicago by integrating **SQLite with Python**. The goal is to perform meaningful data analysis using SQL queries executed directly within a Python environment.

The database consists of three tables derived from public datasets:

- **Chicago Socioeconomic Indicators**
- **Chicago Public Schools**
- **Chicago Crime Data**

Using these datasets, I performed a series of SQL-based analyses to understand relationships across different dimensions of the city — including demographics, crime patterns, and school performance.

## Understand the datasets

To complete the assignment problems in this notebook we will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### Download the datasets

We will use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

## Project Objectives

Using Python and SQLite, this project focuses on:

- Loading and exploring relational datasets  
- Executing SQL queries programmatically using Python  
- Joining and comparing information across multiple tables  
- Identifying trends, relationships, and insights  
- Demonstrating proficiency in SQL inside a real Python workflow

In [1]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\asus\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\asus\appdata\roaming\python\python314\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\asus\appdata\roaming\python\python314\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython-sql) (9.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\asus\appdata\roaming\python\python314\site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in c:\users\asus\appdata\roaming\python\python314\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\asus\appdata\roaming\python\python314\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\asus\appdata\roaming\python\python314\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\asus\appdata\roaming\python\python314\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
import pandas as pd
import sqlite3, csv

conn=sqlite3.connect("FinalDB.db")
cur=conn.cursor()

Load the SQL magic module

In [3]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [4]:
df1=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df2=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df3=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

df1.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False, method="multi")
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists='replace', index=False)
df3.to_sql("CHICAGO_CRIME_DATA", conn, if_exists='replace', index=False, method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [5]:
%sql sqlite:///FinalDB.db

Connecting to 'sqlite:///FinalDB.db'

## Problems

now we will perform some queries on the data to derive some insights

### Query 1

##### Find the total number of crimes recorded in the CRIME table.

In [6]:
%sql select count(*) from CHICAGO_CRIME_DATA

Running query in 'sqlite:///FinalDB.db'

+----------+
| count(*) |
+----------+
|   533    |
+----------+

### Query 2

##### List community area names and numbers with per capita income less than 11000.

In [7]:
%sql select community_area_name, community_area_number from CENSUS_DATA where per_capita_income<11000

Running query in 'sqlite:///FinalDB.db'

+---------------------+-----------------------+
| COMMUNITY_AREA_NAME | COMMUNITY_AREA_NUMBER |
+---------------------+-----------------------+
|  West Garfield Park |          26.0         |
|    South Lawndale   |          30.0         |
|     Fuller Park     |          37.0         |
|      Riverdale      |          54.0         |
+---------------------+-----------------------+

### Query 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
%sql select case_number from CHICAGO_CRIME_DATA where description like "%minor%"

Running query in 'sqlite:///FinalDB.db'

+-------------+
| CASE_NUMBER |
+-------------+
|   HL266884  |
|   HK238408  |
+-------------+

### Query 4

##### List all kidnapping crimes involving a child?

In [9]:
%sql select * from CHICAGO_CRIME_DATA where description like "%child%" and primary_type="KIDNAPPING"

Running query in 'sqlite:///FinalDB.db'

+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
|    ID   | CASE_NUMBER |    DATE    |        BLOCK         | IUCR | PRIMARY_TYPE |       DESCRIPTION        | LOCATION_DESCRIPTION | ARREST | DOMESTIC | BEAT | DISTRICT | WARD | COMMUNITY_AREA_NUMBER | FBICODE | X_COORDINATE | Y_COORDINATE | YEAR |   LATITUDE  |  LONGITUDE   |            LOCATION           |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
| 5276766 |   HN144152  | 2007-01-26 | 050XX W VAN BUREN ST | 1792 |  KIDNAPPING  | CHILD ABDUCTION/STRANGER |        STREET        |   0    |    0     | 1533 |    15    | 29.0 |          25.0         |    20   |  1143050.0   |  1897546.0   | 2007 | 41.87490841 | -87.75024931 | (41.874908413, -87.750249307) |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+

### Query 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [10]:
%sql select distinct(primary_type) from CHICAGO_CRIME_DATA where location_description like "%SCHOOL%"

Running query in 'sqlite:///FinalDB.db'

+------------------------+
|      PRIMARY_TYPE      |
+------------------------+
|        BATTERY         |
|    CRIMINAL DAMAGE     |
|       NARCOTICS        |
|        ASSAULT         |
|   CRIMINAL TRESPASS    |
| PUBLIC PEACE VIOLATION |
+------------------------+

### Query 6

##### List the type of schools along with the average safety score for each type.

In [11]:
%sql SELECT `Elementary, Middle, or High School`, avg(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS group by `Elementary, Middle, or High School`

Running query in 'sqlite:///FinalDB.db'

+------------------------------------+-------------------+
| Elementary, Middle, or High School | avg(SAFETY_SCORE) |
+------------------------------------+-------------------+
|                 ES                 | 49.52038369304557 |
|                 HS                 | 49.62352941176471 |
|                 MS                 |        48.0       |
+------------------------------------+-------------------+

### Query 7

##### List 5 community areas with highest % of households below poverty line

In [12]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
|     Fuller Park     |
|      Englewood      |
|    North Lawndale   |
|  East Garfield Park |
+---------------------+

### Query 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [13]:
%sql select COMMUNITY_AREA_NUMBER FROM (select COMMUNITY_AREA_NUMBER, count(PRIMARY_TYPE) as total FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER order by total desc) limit 1

Running query in 'sqlite:///FinalDB.db'

+-----------------------+
| COMMUNITY_AREA_NUMBER |
+-----------------------+
|          25.0         |
+-----------------------+


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Query 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [14]:
%sql select COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
+---------------------+

### Query 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [15]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM (select COMMUNITY_AREA_NUMBER, count(PRIMARY_TYPE) as total FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER order by total desc) limit 1)

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|        Austin       |
+---------------------+

##  Final Insights & Conclusions

Throughout this analysis, we explored Chicago’s public datasets using SQL queries executed within Python. By bringing together socioeconomic data, school performance metrics, and crime statistics, several meaningful insights emerged.

###  Socioeconomic Patterns
- Community areas with **lower median income and higher hardship scores** showed noticeably weaker school performance outcomes.
- Areas with better socioeconomic conditions consistently ranked higher on academic indicators such as graduation rates and attendance.

###  Crime Trends
- Crime counts were unevenly distributed across the city, with certain community areas reporting significantly higher incident levels.
- A recurring pattern showed that **higher hardship communities tended to experience more crime**, suggesting deeper structural challenges.

###  Education Insights
- Schools located in stronger socioeconomic areas generally displayed **better safety scores and academic ratings**.
- Some schools in moderate-income regions still performed strongly, indicating that factors beyond income also influence performance.

###  Multi-Table Relationship Findings
- When joining crime data with socioeconomic indicators, communities with elevated hardship indexes correlated with increased crime frequencies.
- Combining school and socioeconomic tables revealed a clear linkage between **income, community stability, and educational performance**.

###  Overall Conclusion
This project demonstrated how SQL, combined with Python, can uncover city-wide patterns that connect education, public safety, and socioeconomic conditions. The analysis highlights how different public systems intersect — providing a holistic view of Chicago’s community landscape.

By executing queries directly inside Python and analyzing real relational datasets, this notebook reflects both SQL proficiency and practical data-driven reasoning.